.product_list{
	margin-top: 18px;
	border: 1px solid #ddd;
	float:left;
	width: 184px;
	background-color: #f3f3f3;
}
.product_list_bg{
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #cdcdcd;
}
.each_product_list{
	border-bottom: 1px dotted #cdcdcd;
	line-height: 30px;
	padding-left: 21px;
	margin-bottom: -1px;
}
.each_product_list span{
	font-weight: bold;
}
.each_product_list li{
	width: 50%;
	float: left;
}
.banner .top{
	margin-top: 18px;
}

/*商品页面商品展示*/
.products_list{
	width: 808px;
	height:300px;
	margin-left:5px;
}
.product_title{
	width: 100%;
	height: 36px;
	padding-top: 5px;
	float: left;
	border-bottom: 2px solid #ccc;
	
}
.product_title span{
	line-height: 36px;
	font-size: 16px;
	font-family: "Micrsofot YaHei","微软雅黑";
	font-weight:bold;
	width: 170px;
	border-bottom: 2px solid #096dba;
	display: inline-block;
	padding-left: 10px;
}
.each_product_show{
	height:278px;
	width: 25%;
}
.each_product_show .descript{
	padding:0 18px;
}
.each_product_show .descript p{
	line-height: 18px;
}
.each_product_show .descript a:hover{
	text-decoration: underline;
}
.each_product_show .descript .mg_top{
	height: 14px;
}
.each_product_show .descript .price{
	font-weight: bold;
	color: #d4105a;
}
.each_product_show .descript .starts{
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-top: 2px;
	background:url(../images/icon/star.png) left top no-repeat;
}